<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ตะกร้าของคุณ</title>
  <link rel="stylesheet" href="/stylesheets/en/cart.css" type="text/css" />
</head>
<body>
    CartTH
    <button onclick="backtoorder()">Back to Order</button>
</body>
<script src="/javascripts/cart.js"></script>
</html>