<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    จบ
    <form method="post">
        <input type="hidden" id="tel" name="customer_tel" value="None">
        <button type="submit">Submit</button>
    </form>
</body>
</html>