<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style_end.css">
    <title>คิวของคุณ</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Gilda+Display&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Protest+Strike&family=Rowdies&family=Shippori+Mincho&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="login-box">
        <center><h1>หมายเลขออเดอร์:&nbsp;
        <% if(isNaN(customer_id)) {%>
            1
        <% }else{ %>
            <%= customer_id %>
        <% } %>
        </h1></center>
        <div class="calculator">
            <input type="text" id="phoneInput" placeholder="กรอกเบอร์โทรศัพท์" readonly>
            <div class="user-box">
                <button class="btn" onclick="appendToInput('1')">1</button>
                <button class="btn" onclick="appendToInput('2')">2</button>
                <button class="btn" onclick="appendToInput('3')">3</button>
                <button class="btn" onclick="appendToInput('4')">4</button>
                <button class="btn" onclick="appendToInput('5')">5</button>
                <button class="btn" onclick="appendToInput('6')">6</button>
                <button class="btn" onclick="appendToInput('7')">7</button>
                <button class="btn" onclick="appendToInput('8')">8</button>
                <button class="btn" onclick="appendToInput('9')">9</button>
                <button class="btn" onclick="clearInput()">X</button>
                <button class="btn" onclick="appendToInput('0')">0</button>
                <button class="btn" onclick="backspaceInput()"><</button>
            </div>
        </div>
        <form method="post">
            <input type="hidden" id="tel" name="customer_tel" value="None">
            <center>
                <button type="submit" class="no-phone-button">
                    <span class="button-content"><p>ไม่ระบุ</p></span>
                </button>
                <button type="submit" class="add-phone-button">
                    <span class="button-content"><p>เพิ่มเบอร์โทรศัพท์</p></span>
                </button>
            </center>
        </form>
    </div>
</body>
<script src="/javascripts/end.js"></script>
</html>