* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  font-family: "Krub", sans-serif;
}

body {
  width: 100%;
  background-color: #947360;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.back {
  top: 5%;
  left: 3%;
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 80px;
  color: #ffffff;
}

.back:hover i::before {
  font-size: 90px;
  transition: 0.1s linear;
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
  margin: 30px 0;
  text-align: center;
  color: #ffffff;
  text-shadow: 5px 5px #000000;
  margin-bottom: 4%;
  letter-spacing: 10px;
}

h3 {
  font-size: 25px;
  font-weight: bolder;
  color: #000;
  margin-top: 2%;
  margin-bottom: 1%;
  letter-spacing: 1px;
  text-decoration: underline;
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .table-header {
    background-color: #caa892;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: bolder;
    text-shadow: 2px 2px #9e9e9e;
  }

  .table-row {
    letter-spacing: 2px;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .table-footer {
    background-color: #b5a499;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: bolder;
    margin-bottom: 3%;
    text-shadow: 2px 2px #9e9e9e;
  }

  .col-1-1 {
    flex-basis: 10%;
  }

  .col-2-1 {
    flex-basis: 25%;
  }

  .col-3-1 {
    flex-basis: 25%;
  }

  .col-4-1 {
    flex-basis: 15%;
  }

  .col-5-1 {
    flex-basis: 15%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }

    li {
      display: block;
    }

    .col {
      flex-basis: 100%;
    }

    .col {
      display: flex;
      padding: 10px 0;

      &:before {
        color: #c4a998;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

input[type="text"] {
  text-align: center;
  width: 20%;
}

::placeholder {
  color: #000;
}

.ui-checkbox {
  --primary-color: #32a852;
  --secondary-color: #fff;
  --primary-hover-color: #32a852;
  /* checkbox */
  --checkbox-diameter: 18px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5)
    var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}

.cta {
  position: relative;
  margin: auto;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-weight: bolder;
  text-shadow: 2px 2px #9e9e9e;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.container2 {
    padding: 3% 0% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
  position: absolute;
  width: 250px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.btn,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button__text p {
  font-size: 25px;
}

.btn .button__text {
  transform: translateX(50px);
  color: #fff;
  font-weight: 600;
}

.btn .button__icon {
  position: absolute;
  transform: translateX(188px);
  height: 100%;
  width: 60px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon i {
    color: #fff;
    font-size: 30px;
}

.btn .svg {
  width: 50px;
  stroke: #fff;
}

.btn:hover {
  background: #34974d;
}

.btn:hover .button__text {
  color: transparent;
}

.btn:hover .button__icon {
  width: 250px;
  transform: translateX(0);
}

.btn:active .button__icon {
  background-color: #2e8644;
}

.btn:active {
  border: 1px solid #2e8644;
}
